.root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.body {
  font-family: Roboto, sans-serif;
  background: #fff;
  width: 1440px;
  height: 2592px;
}

/* ========================COMPONENTS===================== */

.section-description {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.description-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.subtitle {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ========================COMPONENTS===================== */

/* ============================HEADER=============== */

.menu-link:hover,
.menu-link:focus,
.logo:hover,
.logo:focus,
.contact-mail:hover {
  color: #4d5ae5;
}

.logo {
  color: var(--slate, #434455);
}

.logo {
  color: var(--navyblue, #2e2f42);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}

.contact-number {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contact-mail {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* ========================HEADER===================== */

/* ========================HERO===================== */

.main-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
}

.modal-btn {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* ========================HERO====================== */

/* about */

/* footer */

/* ========================PORTFOLIO====================== */

.second-btn {
  display: flex;
  padding: 12px 24px;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* цвет фона background: #fff;*/

/* вторичный цвет фона background: var(--navyblue, #2e2f42); */

/*  ссылок текста color: var(--navyblue, #2e2f42);*/

/* вторичный текст color: var(--slate, #434455);*/

/* текст заголовок и кнопка color: var(--white, #fff);*/

/* подвал текст color: var(--cloud, #f4f4fd);*/

/* акцент на кнопку background: var(--iris, #4d5ae5)*/
